h1 {
    text-align: center;
    font-size: large;
    background-color: #DAA520;
    border-radius: 00% 00% 40% 40%;
}

button {
    position: relative;
    background-color: #070702;
    border-radius: 10px;
    border: #DAA520;
    font-size: 25px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

button:after {
    content: "";
    background: #010e01;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
